<h1>New Place</h1>

<form action="/new_place" method="new_place">
  <%# add form fields %>
  <form action="/place/new" method="new_place">
  <p>
    <label for="author">Author</label>
    <input type="text" name="author">
  </p>

  <p>
    <label for="body">Body</label>
    <input type="text" name="body">
  </p>


  <button>Submit</button>
</form>