<!-- Details page for each place-->

<h1><%= @places["name"] %></h1>



<!--
<ul>
<li><%= @entry["title"] %></li>
 <li><%= @entry["description"] %></li>
</ul> -->


 <p><a href="/places">Back to All Places</a></p>