<!-- Details page for each place-->

<h1><%= @place["id"]%></h1>



<!--
<ul>
# <li><%= @entry["title"] %></li>
# <li><%= @entry["description"] %></li>
#</ul> -->


 <a href="/places">Back to All Places</a>