<!-- Details page for each place-->

<h1><%= @place["name"] %></h1>

<!--<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= @entry["title"] %>
      </a>
    </li>
  <% end %>
</ul>-->

<!--<p>
  <a href="/entries/new?entry_id=<%= @entry["id"] %>">New entry</a>
</p>-->

<p><a href="/places">Back to All PLaces</a></p>
